<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Itim.TRS.InstallerLib.Properties.Settings.CatalogueConnectionString"
            connectionString="Data Source=trsroadmap;Initial Catalog=Catalogue;User ID=sa;Password=itim"
            providerName="System.Data.SqlClient" />
        <add name="Itim.TRS.InstallerLib.Properties.Settings.CatalogueConnectionString1"
            connectionString="Data Source=trsroadmap;Initial Catalog=Catalogue;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Itim.TRS.InstallerLib.Properties.Settings.CatalogueConnectionString2"
            connectionString="Data Source=devroadmap;Initial Catalog=Catalogue;User ID=sa;Password=itim"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>